<div class="footer-container">
    <div class="container">
        <footer id="footer" class="sixteen columns" data-hook>
            <div id="footer-one" class="columns alpha four" data-hook>
              <h2>INDIRIZZO</h2>

              <p>Piazza Garibaldi 14.<br/>
              Pratola Peligna, AQ 67035</p>

              <p>Dott. Giovanni Bellaantuono</p>

              <p>Tel./Fax. 0864 27 4436</p>

              <p>Cell. +39 3463290017</p>

              <p><a href="mailto:dutyfarma@hotmail.com">e-mail dutyfarma@hotmail.com</a></p>

            </div>
            <div id="footer-two" class="columns four" data-hook>
              <%= image_tag "store/bartolini.png", class: "bartolini" %>
              <%= image_tag "store/dhl.png", class: "dhl" %>
            </div>
            <div id="footer-two" class="columns four" data-hook>
                <%= image_tag "store/facebook.png", class: "social"%>
                <%= image_tag "store/twitter.png", class: "social" %>
            </div>
            <div id="footer-tree" class="columns four omega" data-hook>
              <%= image_tag "store/payment.png" %>
              © 2013 by Pharmacy. All rights reserved.
            </div>

        </footer>
    </div>
</div>
